<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
	 >
	<extensions>
		<add assembly="NLog.Targets.KafkaAppender"/>
	</extensions>
	<targets>		
		<target type="Database"
				name="tamlog"
				connectionString="Data Source=localhost;Initial Catalog=ProjectLogs;Integrated Security=true;"
				commandText="insert into Logs values (@Date, @Levels, @CallSite, @Type,@Message, @StackTrace, @InnerException, @AdditionalInfo)">
			<parameter name="@Date" layout="${longdate}" />
			<parameter name="@Levels" layout="${level}" />
			<parameter name="@CallSite" layout="${callsite}" />
			<parameter name="@Type" layout="${type}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@StackTrace" layout="${stackTrace}" />
			<parameter name="@InnerException" layout="${message}" />
			<parameter name="@AdditionalInfo" layout="${message}" />
		</target>

		<!--<target type="Database"
				name="database2"
				connectionString="Data Source=DESKTOP-FB8RASF;Initial Catalog=ProjectLogs;Integrated Security=true;"
				commandText="insert into NLog Values (@Date, @Messages)">
			<parameter name="@Date" layout="${longdate}" />
			<parameter name="@Messages" layout="${message}" />
		</target>-->
		
		<!--burası benim denemem-->
		<!--<target type="Database"
				name="database2"
				connectionString="Data Source=DESKTOP-FB8RASF;Initial Catalog=ProjectLogs;Integrated Security=true;"
				commandText="insert into LogString(Text) values (@Text)">
			<parameter name="@Text" layout="${text}"/>
			
		</target>-->
         <!--Burası oldu-->
		<target name="file" xsi:type="File" fileName="E:\Logs\NlogConfigDosyasi-${shortdate}.log"
				layout="${longdate} | ${event-properties:item=EventId_Id:whenEmpty=0} | ${level:uppercase=true} | ${logger} |${message}
				${exception:format=tostring} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | Method: ${callsite}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" /><!-- buradan dosyaya tüm herseyi logluyoruz-->
		<logger name="file" minlevel="Trace" writeTo="file" /><!-- buradan da dosyaya logluyoruz ayrı ayrı loglama yapmıştık şimdi değiştik.-->
		<logger name="db" minlevel="Trace" writeTo="tamlog" /><!-- buradan veritabanına  herseyi logluyoruz-->
		<!--<logger name="dblogger" minlevel="Trace" writeTo="database2" />-->
	</rules>
</nlog>